processing-sequence-control-PI3-Release/templates/Demo_Interval_Initialization.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Demo/Debugging means of generating Processing Sequence Intervals for processing</description>
  <groupId>9c4e2f36-da96-37b1-6118-53d417d5a1ef</groupId>
  <name>Demo Interval Initialization</name>
  <snippet>
    <processGroups>
      <id>f9a7fa2d-f966-39c6-0000-000000000000</id>
      <parentGroupId>0dec386c-e345-3af2-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>ed124ed6-912e-37c4-0000-000000000000</id>
          <parentGroupId>f9a7fa2d-f966-39c6-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f9a7fa2d-f966-39c6-0000-000000000000</groupId>
            <id>c72820f7-9be6-3bf2-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f9a7fa2d-f966-39c6-0000-000000000000</groupId>
            <id>b776c19c-198c-3590-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f199506e-2fb4-3dc1-0000-000000000000</id>
          <parentGroupId>f9a7fa2d-f966-39c6-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>f9a7fa2d-f966-39c6-0000-000000000000</groupId>
            <id>b776c19c-198c-3590-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>f9a7fa2d-f966-39c6-0000-000000000000</groupId>
            <id>71db5a6c-4cdf-3090-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <outputPorts>
          <id>c72820f7-9be6-3bf2-0000-000000000000</id>
          <parentGroupId>f9a7fa2d-f966-39c6-0000-000000000000</parentGroupId>
          <position>
            <x>711.1427428128654</x>
            <y>982.359595433194</y>
          </position>
          <comments></comments>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Initialized</name>
          <state>RUNNING</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>b776c19c-198c-3590-0000-000000000000</id>
          <parentGroupId>f9a7fa2d-f966-39c6-0000-000000000000</parentGroupId>
          <position>
            <x>653.6743800370539</x>
            <y>752.3271650327663</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>INFO</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Processing Sequence execution initialized for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogIntervalInitialized</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>RUNNING</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
          <id>71db5a6c-4cdf-3090-0000-000000000000</id>
          <parentGroupId>f9a7fa2d-f966-39c6-0000-000000000000</parentGroupId>
          <position>
            <x>650.48828125</x>
            <y>472.19097900390625</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>File Size</key>
                <value>
                  <name>File Size</name>
                </value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>
                  <name>Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>
                  <name>Data Format</name>
                </value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>
                  <name>Unique FlowFiles</name>
                </value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
                <value>
                  <name>generate-ff-custom-text</name>
                </value>
              </entry>
              <entry>
                <key>character-set</key>
                <value>
                  <name>character-set</name>
                </value>
              </entry>
              <entry>
                <key>channel-ids</key>
                <value>
                  <name>channel-ids</name>
                </value>
              </entry>
              <entry>
                <key>end-time</key>
                <value>
                  <name>end-time</name>
                </value>
              </entry>
              <entry>
                <key>start-time</key>
                <value>
                  <name>start-time</name>
                </value>
              </entry>
              <entry>
                <key>station-id</key>
                <value>
                  <name>station-id</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>File Size</key>
                <value>0B</value>
              </entry>
              <entry>
                <key>Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Data Format</key>
                <value>Text</value>
              </entry>
              <entry>
                <key>Unique FlowFiles</key>
                <value>false</value>
              </entry>
              <entry>
                <key>generate-ff-custom-text</key>
              </entry>
              <entry>
                <key>character-set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>channel-ids</key>
                <value>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
              </entry>
              <entry>
                <key>end-time</key>
                <value>${now():format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}</value>
              </entry>
              <entry>
                <key>start-time</key>
                <value>${now():toNumber():minus(30000):format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}</value>
              </entry>
              <entry>
                <key>station-id</key>
                <value>8b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>30 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>GenerateProcessingInterval</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
      </contents>
      <name>DemoIntervalInitialization</name>
    </processGroups>
  </snippet>
  <timestamp>05/03/2018 15:03:32 UTC</timestamp>
</template>