processing-sequence-control-PI3-Release/templates/Dummy_Processing_Sequence_#1.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Dummy sequence for hitting psc-dummy-service</description>
  <groupId>da15037b-0162-1000-040a-8e899219a3af</groupId>
  <name>Dummy Processing Sequence #1</name>
  <snippet>
    <processGroups>
      <id>4ff37bb4-8783-3d02-0000-000000000000</id>
      <parentGroupId>96ede675-e66d-3a3e-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>83fb5459-d3fc-3b2d-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4ff37bb4-8783-3d02-0000-000000000000</groupId>
            <id>d12c486c-dc6a-30a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
            <id>2ba949ef-d586-3062-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a74fcb4f-3508-3b8f-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
            <id>6b862fa7-2272-3969-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6d028ded-d696-35b4-0000-000000000000</groupId>
            <id>2f6abdac-0024-3183-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ac1f3f0c-ff9e-3208-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4ff37bb4-8783-3d02-0000-000000000000</groupId>
            <id>d12c486c-dc6a-30a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
            <id>8773351d-2dfd-327f-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>bc21bf64-2ba9-390d-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4ff37bb4-8783-3d02-0000-000000000000</groupId>
            <id>d12c486c-dc6a-30a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
            <id>037d9eae-1a5b-31d8-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>bc6ae69a-ddf8-308a-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
            <id>c894e053-f212-363f-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
            <id>b1ca4ec5-27b2-388d-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c37fb89a-50e1-3b56-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4ff37bb4-8783-3d02-0000-000000000000</groupId>
            <id>5b3af742-3543-36c9-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
            <id>672fbd50-cfe6-3f76-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>e4318c1d-ce42-3ea7-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4ff37bb4-8783-3d02-0000-000000000000</groupId>
            <id>d12c486c-dc6a-30a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
            <id>7725717d-f4b7-3bbd-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>efabebdc-6d85-3460-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
            <id>af045dad-6824-38a2-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
            <id>d2c233df-f30f-3b30-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>3ee813bf-3574-323d-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>4ff37bb4-8783-3d02-0000-000000000000</groupId>
            <id>d12c486c-dc6a-30a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
            <id>521482ff-97be-330f-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>420c6002-6235-30b7-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
            <id>64bfbe7a-23a7-3f33-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
            <id>505ebeaf-0272-3f37-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>47f83186-d78f-3b66-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
            <id>476f1c0e-4c06-302b-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
            <id>30d14f9a-0503-3547-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>76fd282b-32ae-388c-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <bends>
            <x>403.8236450593419</x>
            <y>822.2144250569623</y>
          </bends>
          <destination>
            <groupId>4ff37bb4-8783-3d02-0000-000000000000</groupId>
            <id>d12c486c-dc6a-30a1-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
            <id>037d9eae-1a5b-31d8-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processGroups>
          <id>92cf0df8-692d-312f-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <position>
            <x>601.0354105461151</x>
            <y>1138.428810289703</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>8ba456f9-fa88-32f5-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>672fbd50-cfe6-3f76-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>72a50e0a-b55a-377e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>90edfa75-2f5b-314b-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>2ce261d4-1027-3677-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>c894e053-f212-363f-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>a0850e54-1e92-3d9b-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>72a50e0a-b55a-377e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>91b06ab8-eb94-3527-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>c80d6de8-7f85-3df3-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>91b06ab8-eb94-3527-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>2ce261d4-1027-3677-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>31287f38-3bcf-301c-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>8773351d-2dfd-327f-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>997bc9d7-ff78-31a2-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>35d98fbd-beed-3b08-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>997bc9d7-ff78-31a2-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>92cf0df8-692d-312f-0000-000000000000</groupId>
                <id>91b06ab8-eb94-3527-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>c894e053-f212-363f-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>8773351d-2dfd-327f-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <position>
                <x>483.00989776161293</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>672fbd50-cfe6-3f76-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>91b06ab8-eb94-3527-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <position>
                <x>652.7676712640136</x>
                <y>618.2264397324315</y>
              </position>
              <bundle>
                <artifact>nifi-invokeqc-nar</artifact>
                <group>gms</group>
                <version>0.0.1-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://psc-dummy-service:8080/test4</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>DummyProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokeqc.InvokeQcProcessor</type>
            </processors>
            <processors>
              <id>997bc9d7-ff78-31a2-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <position>
                <x>435.45281982421875</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummyFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>2ce261d4-1027-3677-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Dummy Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummyStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>72a50e0a-b55a-377e-0000-000000000000</id>
              <parentGroupId>92cf0df8-692d-312f-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummySuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>DummyProcessingStep4</name>
        </processGroups>
        <processGroups>
          <id>9aedc411-b6c5-3857-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <position>
            <x>590.0802001953125</x>
            <y>21.31988525390625</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>bbcd3647-0c1d-301d-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>d2c233df-f30f-3b30-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>dcc42a4d-d3d8-3e89-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>c15218b6-5882-3dd4-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>8c527af2-284f-3429-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>74da9de3-eb1e-3846-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d18960f1-fdc7-39eb-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>dcc42a4d-d3d8-3e89-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>8c527af2-284f-3429-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>2cf2fa6f-404d-388a-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>521482ff-97be-330f-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>5c218505-d94b-34eb-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>2e5002be-414d-3bfb-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>5c218505-d94b-34eb-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>8c527af2-284f-3429-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>530b2a6f-e053-3c3f-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>74da9de3-eb1e-3846-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>9aedc411-b6c5-3857-0000-000000000000</groupId>
                <id>6b862fa7-2272-3969-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>6b862fa7-2272-3969-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>d2c233df-f30f-3b30-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>521482ff-97be-330f-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <position>
                <x>483.00989776161293</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>8c527af2-284f-3429-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <position>
                <x>652.7676712640136</x>
                <y>618.2264397324315</y>
              </position>
              <bundle>
                <artifact>nifi-invokeqc-nar</artifact>
                <group>gms</group>
                <version>0.0.1-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://waveform-qc-control:8080/waveform-qc/waveform-qc-control/invoke</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>InvokeQcProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokeqc.InvokeQcProcessor</type>
            </processors>
            <processors>
              <id>dcc42a4d-d3d8-3e89-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran qc for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcSuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>5c218505-d94b-34eb-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <position>
                <x>435.45281982421875</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run qc for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>74da9de3-eb1e-3846-0000-000000000000</id>
              <parentGroupId>9aedc411-b6c5-3857-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Qc Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>WaveformQcProcessingStep</name>
        </processGroups>
        <processGroups>
          <id>dc56bf0a-ed8f-32f3-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <position>
            <x>586.3996523773053</x>
            <y>344.0983298984231</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>d26be1dd-4c79-3331-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>684fcea1-3a81-32b3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>af045dad-6824-38a2-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d71a6616-98a5-34bc-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>d233da83-644c-3220-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>a434ec5f-dc80-3443-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>25ddbffb-4bae-3fff-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>5cd532c9-7986-3388-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>a434ec5f-dc80-3443-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>60b9ae72-229e-36be-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>a434ec5f-dc80-3443-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>684fcea1-3a81-32b3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>6f661cf0-3410-3df3-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>2ba949ef-d586-3062-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>d233da83-644c-3220-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>78a5b071-3063-3d66-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>30d14f9a-0503-3547-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>dc56bf0a-ed8f-32f3-0000-000000000000</groupId>
                <id>5cd532c9-7986-3388-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>af045dad-6824-38a2-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>2ba949ef-d586-3062-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <position>
                <x>483.00989776161293</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>30d14f9a-0503-3547-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>a434ec5f-dc80-3443-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <position>
                <x>652.7676712640136</x>
                <y>618.2264397324315</y>
              </position>
              <bundle>
                <artifact>nifi-invokeqc-nar</artifact>
                <group>gms</group>
                <version>0.0.1-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://psc-dummy-service:8080/test1</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>DummyProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokeqc.InvokeQcProcessor</type>
            </processors>
            <processors>
              <id>d233da83-644c-3220-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <position>
                <x>435.45281982421875</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummyFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>5cd532c9-7986-3388-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummySuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>684fcea1-3a81-32b3-0000-000000000000</id>
              <parentGroupId>dc56bf0a-ed8f-32f3-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Dummy Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummyStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>DummyProcessingStep1</name>
        </processGroups>
        <processGroups>
          <id>e9a953ef-9a9a-3e85-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <position>
            <x>593.9974466789276</x>
            <y>866.4511491568906</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>d5584364-7a4b-35e6-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>7aeac8c3-55e0-31d3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>0ff62ebb-5c80-3ba7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>1ff7b9c8-c54c-3fd2-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>b1ca4ec5-27b2-388d-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>7aeac8c3-55e0-31d3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>23824181-1ca5-3220-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>037d9eae-1a5b-31d8-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>d43ee891-8b43-3e2d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>2d33e574-e38c-332c-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>0ff62ebb-5c80-3ba7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>4489a9cd-ccfd-3ed2-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>51a2efbf-1e7d-35d6-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>d43ee891-8b43-3e2d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>0ff62ebb-5c80-3ba7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>78af3e58-b0ff-3c6c-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>4489a9cd-ccfd-3ed2-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>e9a953ef-9a9a-3e85-0000-000000000000</groupId>
                <id>64bfbe7a-23a7-3f33-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>64bfbe7a-23a7-3f33-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>b1ca4ec5-27b2-388d-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>037d9eae-1a5b-31d8-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <position>
                <x>483.00989776161293</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>d43ee891-8b43-3e2d-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <position>
                <x>435.45281982421875</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummyFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>0ff62ebb-5c80-3ba7-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <position>
                <x>652.7676712640136</x>
                <y>618.2264397324315</y>
              </position>
              <bundle>
                <artifact>nifi-invokeqc-nar</artifact>
                <group>gms</group>
                <version>0.0.1-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://psc-dummy-service:8080/test3</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>DummyProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokeqc.InvokeQcProcessor</type>
            </processors>
            <processors>
              <id>4489a9cd-ccfd-3ed2-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Dummy Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummyStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>7aeac8c3-55e0-31d3-0000-000000000000</id>
              <parentGroupId>e9a953ef-9a9a-3e85-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummySuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>DummyProcessingStep3</name>
        </processGroups>
        <processGroups>
          <id>6b007be1-622b-3ced-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <position>
            <x>586.9594828117401</x>
            <y>622.9133683951718</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>c9784b23-ac00-3672-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>505ebeaf-0272-3f37-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>e8eb10d7-68b9-3417-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d259ae7a-4a2d-3d41-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>ee2aa8ec-c959-308f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>476f1c0e-4c06-302b-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>449ef9ea-a4e7-3fa6-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>7725717d-f4b7-3bbd-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>729f97a6-12a6-376b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>6d36b473-f8f3-338b-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>6bea73f9-2e6c-3852-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>ee2aa8ec-c959-308f-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>6e97a5b3-779d-3f44-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>e8eb10d7-68b9-3417-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>6bea73f9-2e6c-3852-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>7de29652-87ea-3250-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>729f97a6-12a6-376b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>6b007be1-622b-3ced-0000-000000000000</groupId>
                <id>6bea73f9-2e6c-3852-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>476f1c0e-4c06-302b-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>505ebeaf-0272-3f37-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>7725717d-f4b7-3bbd-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <position>
                <x>483.00989776161293</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>e8eb10d7-68b9-3417-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummySuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>ee2aa8ec-c959-308f-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Dummy Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummyStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>6bea73f9-2e6c-3852-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <position>
                <x>652.7676712640136</x>
                <y>618.2264397324315</y>
              </position>
              <bundle>
                <artifact>nifi-invokeqc-nar</artifact>
                <group>gms</group>
                <version>0.0.1-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://psc-dummy-service:8080/test2</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>DummyProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokeqc.InvokeQcProcessor</type>
            </processors>
            <processors>
              <id>729f97a6-12a6-376b-0000-000000000000</id>
              <parentGroupId>6b007be1-622b-3ced-0000-000000000000</parentGroupId>
              <position>
                <x>435.45281982421875</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogDummyFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>DummyProcessingStep2</name>
        </processGroups>
        <processGroups>
          <id>6d028ded-d696-35b4-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <position>
            <x>-21.7537841796875</x>
            <y>40.57728576660156</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>90bf7abb-9a0d-30b5-0000-000000000000</id>
              <parentGroupId>6d028ded-d696-35b4-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6d028ded-d696-35b4-0000-000000000000</groupId>
                <id>2f6abdac-0024-3183-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6d028ded-d696-35b4-0000-000000000000</groupId>
                <id>229480ef-6bbc-323e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>41df4eb5-7bae-3ebd-0000-000000000000</id>
              <parentGroupId>6d028ded-d696-35b4-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6d028ded-d696-35b4-0000-000000000000</groupId>
                <id>229480ef-6bbc-323e-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6d028ded-d696-35b4-0000-000000000000</groupId>
                <id>ae775fd1-d691-3ef5-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>2f6abdac-0024-3183-0000-000000000000</id>
              <parentGroupId>6d028ded-d696-35b4-0000-000000000000</parentGroupId>
              <position>
                <x>711.1427428128654</x>
                <y>982.359595433194</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Initialized</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>ae775fd1-d691-3ef5-0000-000000000000</id>
              <parentGroupId>6d028ded-d696-35b4-0000-000000000000</parentGroupId>
              <position>
                <x>650.48828125</x>
                <y>472.19097900390625</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>File Size</key>
                    <value>
                      <name>File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>
                      <name>Data Format</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>
                      <name>Unique FlowFiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>
                      <name>generate-ff-custom-text</name>
                    </value>
                  </entry>
                  <entry>
                    <key>character-set</key>
                    <value>
                      <name>character-set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>channel-ids</key>
                    <value>
                      <name>channel-ids</name>
                    </value>
                  </entry>
                  <entry>
                    <key>end-time</key>
                    <value>
                      <name>end-time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>start-time</key>
                    <value>
                      <name>start-time</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>File Size</key>
                    <value>0B</value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>Text</value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                  </entry>
                  <entry>
                    <key>character-set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>channel-ids</key>
                    <value>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
                  </entry>
                  <entry>
                    <key>end-time</key>
                    <value>${now():format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}</value>
                  </entry>
                  <entry>
                    <key>start-time</key>
                    <value>${now():toNumber():minus(30000):format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GenerateProcessingInterval</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
            </processors>
            <processors>
              <id>229480ef-6bbc-323e-0000-000000000000</id>
              <parentGroupId>6d028ded-d696-35b4-0000-000000000000</parentGroupId>
              <position>
                <x>653.6743800370539</x>
                <y>752.3271650327663</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Processing Sequence execution initialized for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogIntervalInitialized</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>DemoIntervalInitialization</name>
        </processGroups>
        <processors>
          <id>d12c486c-dc6a-30a1-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <position>
            <x>-151.35015656024382</x>
            <y>776.9777009570341</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>ERROR</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>error</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Error executing processing stage for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogProcessingStageFailure</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
          <id>5b3af742-3543-36c9-0000-000000000000</id>
          <parentGroupId>4ff37bb4-8783-3d02-0000-000000000000</parentGroupId>
          <position>
            <x>620.1259721812944</x>
            <y>1409.2322210342925</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>INFO</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Processing stage successfully executed for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogMessage</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
      </contents>
      <name>Dummy Processing Sequence #1</name>
    </processGroups>
  </snippet>
  <timestamp>04/18/2018 21:50:27 UTC</timestamp>
</template>