processing-sequence-control-PI3-Release/templates/Dummy_Processing_Step.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Processing Step using Qc step under the hood, but making a call to the dummy psc service</description>
  <groupId>d9628621-0162-1000-06d1-2b8488b833b5</groupId>
  <name>Dummy Processing Step</name>
  <snippet>
    <processGroups>
      <id>a10d4126-4703-3df9-0000-000000000000</id>
      <parentGroupId>8a61a0c3-adc2-36e4-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>bfc328cb-9f30-3304-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>8ebb3811-921e-3f40-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>beb99276-d74b-3954-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>c134974c-4872-3361-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>8cdcec9a-8cae-37c5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>b50ec517-1d2b-39ff-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>ccda7124-82b0-3321-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>f1222ec0-5f54-3e29-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>f1bb4ac0-c646-3228-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f0b2a6d7-dc11-3c93-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>f1bb4ac0-c646-3228-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>beb99276-d74b-3954-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>1c042842-17f3-3c84-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>beb99276-d74b-3954-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>8cdcec9a-8cae-37c5-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>2123d98a-f979-3d1e-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>a983670e-6584-34c6-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>a10d4126-4703-3df9-0000-000000000000</groupId>
            <id>8ebb3811-921e-3f40-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>b50ec517-1d2b-39ff-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <position>
            <x>714.8860566962129</x>
            <y>323.5761084392643</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>SequenceInput</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>a983670e-6584-34c6-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <position>
            <x>911.1018676757812</x>
            <y>1013.9356748814348</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Success</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
          <validationErrors>'Port 'Success'' is invalid because Output connection for port 'Success' is not defined.</validationErrors>
        </outputPorts>
        <outputPorts>
          <id>f1222ec0-5f54-3e29-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <position>
            <x>483.00989776161293</x>
            <y>1015.252919834571</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Failure</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
          <validationErrors>'Port 'Failure'' is invalid because Output connection for port 'Failure' is not defined.</validationErrors>
        </outputPorts>
        <processors>
          <id>8cdcec9a-8cae-37c5-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <position>
            <x>660.8693729889783</x>
            <y>410.52981439128337</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>INFO</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Dummy Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogDummyStart</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
          <id>8ebb3811-921e-3f40-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <position>
            <x>857.4193725585938</x>
            <y>813.8430786132812</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>INFO</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Successfully ran dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogDummySuccess</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
          <id>beb99276-d74b-3954-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <position>
            <x>652.7676712640136</x>
            <y>618.2264397324315</y>
          </position>
          <bundle>
            <artifact>nifi-invokeqc-nar</artifact>
            <group>gms</group>
            <version>0.0.1-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>control-url</key>
                <value>
                  <name>control-url</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>control-url</key>
                <value>http://psc-dummy-service:8080/test1</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>DummyProcessor</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>gms.processors.invokeqc.InvokeQcProcessor</type>
        </processors>
        <processors>
          <id>f1bb4ac0-c646-3228-0000-000000000000</id>
          <parentGroupId>a10d4126-4703-3df9-0000-000000000000</parentGroupId>
          <position>
            <x>435.45281982421875</x>
            <y>813.8430786132812</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>ERROR</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>error</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Failed to run dummy step for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogDummyFailure</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
      </contents>
      <name>DummyProcessingStep</name>
    </processGroups>
  </snippet>
  <timestamp>04/18/2018 18:10:11 UTC</timestamp>
</template>