processing-sequence-control-PI3-Release/templates/Processing_Sequence_Example_#1.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Processing Sequence Example running QC and Filtering steps</description>
  <groupId>d9fd8745-0162-1000-8796-d5840d610463</groupId>
  <name>Processing Sequence Example #1</name>
  <snippet>
    <processGroups>
      <id>b6c77658-5c3b-3016-0000-000000000000</id>
      <parentGroupId>afa10d0c-7cfa-3c69-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>d438c279-5f27-31a3-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>b6c77658-5c3b-3016-0000-000000000000</groupId>
            <id>166b264b-4da2-35d7-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
            <id>6d29a4b1-5e4b-3be4-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>f84dfb23-be26-3298-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>b6c77658-5c3b-3016-0000-000000000000</groupId>
            <id>7f7bba12-e114-3d20-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
            <id>8bdbef0b-2ea2-39ad-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>388754f0-8e7d-341f-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
            <id>315a2ca5-e739-369c-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>a00e85d1-c988-3edf-0000-000000000000</groupId>
            <id>4a51f9ad-958d-3efe-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>4ef4730e-b49a-3f94-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
            <id>a637ef1f-44e5-3590-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
            <id>56613adb-ae74-39aa-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>51cbc6ff-727a-3e5d-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>b6c77658-5c3b-3016-0000-000000000000</groupId>
            <id>7f7bba12-e114-3d20-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
            <id>b47a529d-c246-3a16-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processGroups>
          <id>a00e85d1-c988-3edf-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <position>
            <x>51.914302705028376</x>
            <y>594.9234628754823</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>c3d34e79-f445-3be8-0000-000000000000</id>
              <parentGroupId>a00e85d1-c988-3edf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>a00e85d1-c988-3edf-0000-000000000000</groupId>
                <id>4a51f9ad-958d-3efe-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>a00e85d1-c988-3edf-0000-000000000000</groupId>
                <id>21e4258d-878a-3396-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>5a115af0-a2d6-3ed4-0000-000000000000</id>
              <parentGroupId>a00e85d1-c988-3edf-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>a00e85d1-c988-3edf-0000-000000000000</groupId>
                <id>21e4258d-878a-3396-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>a00e85d1-c988-3edf-0000-000000000000</groupId>
                <id>7a8edc2e-c5be-3441-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>4a51f9ad-958d-3efe-0000-000000000000</id>
              <parentGroupId>a00e85d1-c988-3edf-0000-000000000000</parentGroupId>
              <position>
                <x>711.1427428128654</x>
                <y>982.359595433194</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Initialized</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>21e4258d-878a-3396-0000-000000000000</id>
              <parentGroupId>a00e85d1-c988-3edf-0000-000000000000</parentGroupId>
              <position>
                <x>653.6743800370539</x>
                <y>752.3271650327663</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Processing Sequence execution initialized for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogIntervalInitialized</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>7a8edc2e-c5be-3441-0000-000000000000</id>
              <parentGroupId>a00e85d1-c988-3edf-0000-000000000000</parentGroupId>
              <position>
                <x>650.48828125</x>
                <y>472.19097900390625</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>File Size</key>
                    <value>
                      <name>File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>
                      <name>Data Format</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>
                      <name>Unique FlowFiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>
                      <name>generate-ff-custom-text</name>
                    </value>
                  </entry>
                  <entry>
                    <key>character-set</key>
                    <value>
                      <name>character-set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>channel-ids</key>
                    <value>
                      <name>channel-ids</name>
                    </value>
                  </entry>
                  <entry>
                    <key>end-time</key>
                    <value>
                      <name>end-time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>start-time</key>
                    <value>
                      <name>start-time</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>File Size</key>
                    <value>0B</value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>Text</value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                  </entry>
                  <entry>
                    <key>character-set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>channel-ids</key>
                    <value>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
                  </entry>
                  <entry>
                    <key>end-time</key>
                    <value>${now():format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}</value>
                  </entry>
                  <entry>
                    <key>start-time</key>
                    <value>${now():toNumber():minus(30000):format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GenerateProcessingInterval</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
            </processors>
          </contents>
          <name>DemoIntervalInitialization</name>
        </processGroups>
        <processGroups>
          <id>bf9d3351-a771-3fe6-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <position>
            <x>53.11505126953125</x>
            <y>884.0053863525391</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>b77e90b5-4870-3a3f-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>8bdbef0b-2ea2-39ad-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>1eee26da-9fc3-38a7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>c9b18cb4-de43-3c8d-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>eff52bfe-d925-31b6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>315a2ca5-e739-369c-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e3f23ca4-9c0c-3534-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>860949aa-71d6-3772-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>eff52bfe-d925-31b6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>0e6d0d10-b15d-334d-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>56613adb-ae74-39aa-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>332a194d-a973-3ff2-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>1ae559b6-75c1-3b59-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>332a194d-a973-3ff2-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>860949aa-71d6-3772-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>76462b1f-988b-3f1f-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>1eee26da-9fc3-38a7-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>bf9d3351-a771-3fe6-0000-000000000000</groupId>
                <id>860949aa-71d6-3772-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>315a2ca5-e739-369c-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>8bdbef0b-2ea2-39ad-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>483.00989776161293</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>56613adb-ae74-39aa-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>860949aa-71d6-3772-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>652.7676712640136</x>
                <y>618.2264397324315</y>
              </position>
              <bundle>
                <artifact>nifi-invokeqc-nar</artifact>
                <group>gms</group>
                <version>0.0.1-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://waveform-qc-control:8080/waveform-qc/waveform-qc-control/invoke</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>InvokeQcProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokeqc.InvokeQcProcessor</type>
            </processors>
            <processors>
              <id>eff52bfe-d925-31b6-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Qc Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>1eee26da-9fc3-38a7-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>435.45281982421875</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run qc for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>332a194d-a973-3ff2-0000-000000000000</id>
              <parentGroupId>bf9d3351-a771-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran qc for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcSuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>WaveformQcProcessingStep</name>
        </processGroups>
        <processGroups>
          <id>e2c0c2d6-caf8-3fe6-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <position>
            <x>54.8370361328125</x>
            <y>1180.581069946289</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>88150410-6b6d-3e86-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>bc0ecc1e-8e64-32e6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>a637ef1f-44e5-3590-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>9dfbccca-7e9f-3e9a-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>93d4f75f-f792-3fb0-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>edbc7712-09de-37ea-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>a60caf88-5807-359c-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>16e8acd6-8b41-3820-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>edbc7712-09de-37ea-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>4a33a262-3d68-32f1-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>b47a529d-c246-3a16-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>93d4f75f-f792-3fb0-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>546feae8-16ef-3e4b-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>6d29a4b1-5e4b-3be4-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>16e8acd6-8b41-3820-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>61beeed8-979b-3d54-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>edbc7712-09de-37ea-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>e2c0c2d6-caf8-3fe6-0000-000000000000</groupId>
                <id>bc0ecc1e-8e64-32e6-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <controllerServices>
              <id>278e9267-4829-3f74-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <bundle>
                <artifact>nifi-lookup-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <comments></comments>
              <descriptors>
                <entry>
                  <key>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</key>
                  <value>
                    <name>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</name>
                  </value>
                </entry>
              </descriptors>
              <name>OutputChannelLookupService</name>
              <persistsState>false</persistsState>
              <properties>
                <entry>
                  <key>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</key>
                  <value>8b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
                </entry>
              </properties>
              <state>DISABLED</state>
              <type>org.apache.nifi.lookup.SimpleKeyValueLookupService</type>
            </controllerServices>
            <inputPorts>
              <id>a637ef1f-44e5-3590-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>b47a529d-c246-3a16-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>493.45635986328125</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>6d29a4b1-5e4b-3be4-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>93d4f75f-f792-3fb0-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>438.45635986328125</x>
                <y>815.3449096679688</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>bc0ecc1e-8e64-32e6-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Filtering Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>edbc7712-09de-37ea-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>649.7640857050444</x>
                <y>598.70283381677</y>
              </position>
              <bundle>
                <artifact>nifi-invokefilter-nar</artifact>
                <group>gms</group>
                <version>1.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                  <entry>
                    <key>output-channel-lookup</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.lookup.StringLookupService</identifiesControllerService>
                      <name>output-channel-lookup</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://filter-control:8080/signal-enhancement/waveform-filtering/claimCheck</value>
                  </entry>
                  <entry>
                    <key>output-channel-lookup</key>
                    <value>278e9267-4829-3f74-0000-000000000000</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>InvokeFilterProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokefilter.InvokeFilterProcessor</type>
            </processors>
            <processors>
              <id>16e8acd6-8b41-3820-0000-000000000000</id>
              <parentGroupId>e2c0c2d6-caf8-3fe6-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringSuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>WaveformFilteringProcessingStep</name>
        </processGroups>
        <processors>
          <id>166b264b-4da2-35d7-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <position>
            <x>71.39763966176315</x>
            <y>1475.865643885855</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>INFO</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Processing stage successfully executed for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogMessage</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
          <id>7f7bba12-e114-3d20-0000-000000000000</id>
          <parentGroupId>b6c77658-5c3b-3016-0000-000000000000</parentGroupId>
          <position>
            <x>-561.7619607594626</x>
            <y>1011.8589875781279</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>ERROR</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>error</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Error executing processing stage for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogProcessingStageFailure</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
      </contents>
      <name>Processing Sequence Example #1</name>
    </processGroups>
  </snippet>
  <timestamp>04/18/2018 18:43:51 UTC</timestamp>
</template>