processing-sequence-control-PI3-Release/templates/Processing_Sequence_Example_#3.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Processing Sequence for running QC, Filtering, and Signal Detection on Processing Sequence Intervals. </description>
  <groupId>268b9dbd-0163-1000-1d38-02a121d62ecb</groupId>
  <name>Processing Sequence Example #3</name>
  <snippet>
    <processGroups>
      <id>c615bd4e-124d-3b04-0000-000000000000</id>
      <parentGroupId>80f33a07-6ca1-3161-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>a47860bb-4e5f-3e92-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c615bd4e-124d-3b04-0000-000000000000</groupId>
            <id>e3af86c1-9b25-313f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
            <id>a2e61e63-5115-3683-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>a59ef7fd-9f51-38fb-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c615bd4e-124d-3b04-0000-000000000000</groupId>
            <id>e3af86c1-9b25-313f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
            <id>94136115-94d1-32e5-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>bb3e8173-caa8-3377-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c615bd4e-124d-3b04-0000-000000000000</groupId>
            <id>e3af86c1-9b25-313f-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
            <id>28746900-e435-3e38-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>fd3f627d-c267-3c44-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>c615bd4e-124d-3b04-0000-000000000000</groupId>
            <id>92804a62-f92e-3345-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
            <id>7096a32b-fa29-3e81-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>13024968-8e62-33b3-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
            <id>b43d6ab4-db5a-32a3-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
            <id>cdb42b93-2c98-39ab-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>5c3acb9b-171d-3bb0-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
            <id>528ef8f6-bf8a-34df-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
            <id>83e4adc0-3c9f-304e-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>707b4a20-3ab2-32cd-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
            <id>bafa3da2-54cd-37bc-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>0fab6d3c-428b-3978-0000-000000000000</groupId>
            <id>5893684e-f5c3-37a5-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processGroups>
          <id>805adc88-2eb8-3963-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <position>
            <x>53.11505126953125</x>
            <y>884.0053863525391</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>a393f817-8621-3cb6-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>e0c0454f-0fab-3e95-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>bafa3da2-54cd-37bc-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>b657902f-4f66-37aa-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>a2e61e63-5115-3683-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>da0c69a2-28db-36de-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>ceb13255-2cf2-3dfb-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>cdb42b93-2c98-39ab-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>f211a680-fda2-30ae-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d5610439-2d59-303c-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>2c9e0c66-0e29-390b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>e0c0454f-0fab-3e95-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e0e4f7cb-b8e0-3a7c-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>f211a680-fda2-30ae-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>2c9e0c66-0e29-390b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>1fb59b01-d34e-3477-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>da0c69a2-28db-36de-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>805adc88-2eb8-3963-0000-000000000000</groupId>
                <id>2c9e0c66-0e29-390b-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>bafa3da2-54cd-37bc-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>a2e61e63-5115-3683-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <position>
                <x>483.00989776161293</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>cdb42b93-2c98-39ab-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>da0c69a2-28db-36de-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <position>
                <x>435.45281982421875</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run qc for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>e0c0454f-0fab-3e95-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Qc Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>f211a680-fda2-30ae-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran qc for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogQcSuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>2c9e0c66-0e29-390b-0000-000000000000</id>
              <parentGroupId>805adc88-2eb8-3963-0000-000000000000</parentGroupId>
              <position>
                <x>652.7676712640136</x>
                <y>618.2264397324315</y>
              </position>
              <bundle>
                <artifact>nifi-invokeqc-nar</artifact>
                <group>gms</group>
                <version>0.0.1-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://waveform-qc-control:8080/waveform-qc/waveform-qc-control/invoke</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>InvokeQcProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokeqc.InvokeQcProcessor</type>
            </processors>
          </contents>
          <name>WaveformQcProcessingStep</name>
        </processGroups>
        <processGroups>
          <id>0fab6d3c-428b-3978-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <position>
            <x>56.69161975740667</x>
            <y>617.518718660155</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>ac109968-3a91-3cec-0000-000000000000</id>
              <parentGroupId>0fab6d3c-428b-3978-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>0fab6d3c-428b-3978-0000-000000000000</groupId>
                <id>5893684e-f5c3-37a5-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>0fab6d3c-428b-3978-0000-000000000000</groupId>
                <id>d917afb8-ebbf-3df9-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e29c5d7a-8a6c-38c9-0000-000000000000</id>
              <parentGroupId>0fab6d3c-428b-3978-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>0fab6d3c-428b-3978-0000-000000000000</groupId>
                <id>d917afb8-ebbf-3df9-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>0fab6d3c-428b-3978-0000-000000000000</groupId>
                <id>311db497-7aa7-3fff-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <outputPorts>
              <id>5893684e-f5c3-37a5-0000-000000000000</id>
              <parentGroupId>0fab6d3c-428b-3978-0000-000000000000</parentGroupId>
              <position>
                <x>711.1427428128654</x>
                <y>982.359595433194</y>
              </position>
              <comments></comments>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Initialized</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>d917afb8-ebbf-3df9-0000-000000000000</id>
              <parentGroupId>0fab6d3c-428b-3978-0000-000000000000</parentGroupId>
              <position>
                <x>653.6743800370539</x>
                <y>752.3271650327663</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Processing Sequence execution initialized for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogIntervalInitialized</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>311db497-7aa7-3fff-0000-000000000000</id>
              <parentGroupId>0fab6d3c-428b-3978-0000-000000000000</parentGroupId>
              <position>
                <x>650.48828125</x>
                <y>472.19097900390625</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>File Size</key>
                    <value>
                      <name>File Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>
                      <name>Batch Size</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>
                      <name>Data Format</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>
                      <name>Unique FlowFiles</name>
                    </value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                    <value>
                      <name>generate-ff-custom-text</name>
                    </value>
                  </entry>
                  <entry>
                    <key>character-set</key>
                    <value>
                      <name>character-set</name>
                    </value>
                  </entry>
                  <entry>
                    <key>channel-ids</key>
                    <value>
                      <name>channel-ids</name>
                    </value>
                  </entry>
                  <entry>
                    <key>end-time</key>
                    <value>
                      <name>end-time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>start-time</key>
                    <value>
                      <name>start-time</name>
                    </value>
                  </entry>
                  <entry>
                    <key>station-id</key>
                    <value>
                      <name>station-id</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>File Size</key>
                    <value>0B</value>
                  </entry>
                  <entry>
                    <key>Batch Size</key>
                    <value>1</value>
                  </entry>
                  <entry>
                    <key>Data Format</key>
                    <value>Text</value>
                  </entry>
                  <entry>
                    <key>Unique FlowFiles</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>generate-ff-custom-text</key>
                  </entry>
                  <entry>
                    <key>character-set</key>
                    <value>UTF-8</value>
                  </entry>
                  <entry>
                    <key>channel-ids</key>
                    <value>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
                  </entry>
                  <entry>
                    <key>end-time</key>
                    <value>${now():format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}</value>
                  </entry>
                  <entry>
                    <key>start-time</key>
                    <value>${now():toNumber():minus(30000):format("yyyy-MM-dd'T'HH:mm:ss'Z'", "GMT")}</value>
                  </entry>
                  <entry>
                    <key>station-id</key>
                    <value>8b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>30 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GenerateProcessingInterval</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
            </processors>
          </contents>
          <name>DemoIntervalInitialization</name>
        </processGroups>
        <processGroups>
          <id>5e5a93cb-6008-31cb-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <position>
            <x>57.45599013364114</x>
            <y>1453.2124285733557</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>922bb5f4-91f0-3790-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>6cbf9b88-c70e-3967-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>9d7a8089-1587-328d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>c7142e85-29c9-3ce0-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>9d7a8089-1587-328d-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>528ef8f6-bf8a-34df-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d6927d8d-89cb-31cf-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>916bd2e7-5b87-3a27-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>6cbf9b88-c70e-3967-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>136611d1-22b5-30f3-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>7096a32b-fa29-3e81-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>916bd2e7-5b87-3a27-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>28d1c929-fbed-3a5e-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>3fee94be-a7b8-3f7a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>6cbf9b88-c70e-3967-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>33156593-e478-3a68-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>28746900-e435-3e38-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>5e5a93cb-6008-31cb-0000-000000000000</groupId>
                <id>3fee94be-a7b8-3f7a-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <inputPorts>
              <id>528ef8f6-bf8a-34df-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>28746900-e435-3e38-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <position>
                <x>493.45635986328125</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>7096a32b-fa29-3e81-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>916bd2e7-5b87-3a27-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringSuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>9d7a8089-1587-328d-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Filtering Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>3fee94be-a7b8-3f7a-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <position>
                <x>438.45635986328125</x>
                <y>815.3449096679688</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>6cbf9b88-c70e-3967-0000-000000000000</id>
              <parentGroupId>5e5a93cb-6008-31cb-0000-000000000000</parentGroupId>
              <position>
                <x>660.4796270009529</x>
                <y>623.4999999999998</y>
              </position>
              <bundle>
                <artifact>nifi-invokesignaldetector-nar</artifact>
                <group>gms</group>
                <version>0.0.1-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://detector-control:8080/signal-detection/signal-detector-control/claim-check</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>InvokeSignalDetectorProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokesignaldetector.InvokeSignalDetectorProcessor</type>
            </processors>
          </contents>
          <name>SignalDetectionProcessingStep</name>
        </processGroups>
        <processGroups>
          <id>6f20a64b-5f07-3567-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <position>
            <x>54.8370361328125</x>
            <y>1180.581069946289</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>bad08a99-8fb7-33de-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>2609b32b-5596-32db-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>ff3e77fe-d2cb-35f0-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>c0eb087e-61cc-31bb-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>0b64a995-a5af-3dbe-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <source>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>b43d6ab4-db5a-32a3-0000-000000000000</id>
                <type>INPUT_PORT</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>e56a6011-e0e8-33d6-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>83e4adc0-3c9f-304e-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>2609b32b-5596-32db-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>edadb429-d102-36e2-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>ff3e77fe-d2cb-35f0-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>0b64a995-a5af-3dbe-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>0187bc55-1e10-3ede-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>2e40ea2d-34fc-3bf3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>failure</selectedRelationships>
              <source>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>ff3e77fe-d2cb-35f0-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>23ca82ba-38f8-3ef0-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>94136115-94d1-32e5-0000-000000000000</id>
                <type>OUTPUT_PORT</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>6f20a64b-5f07-3567-0000-000000000000</groupId>
                <id>2e40ea2d-34fc-3bf3-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <controllerServices>
              <id>26bf83fe-99ac-3cc9-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <bundle>
                <artifact>nifi-lookup-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <comments></comments>
              <descriptors>
                <entry>
                  <key>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</key>
                  <value>
                    <name>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</name>
                  </value>
                </entry>
              </descriptors>
              <name>OutputChannelLookupService</name>
              <persistsState>false</persistsState>
              <properties>
                <entry>
                  <key>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</key>
                  <value>8b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
                </entry>
              </properties>
              <state>DISABLED</state>
              <type>org.apache.nifi.lookup.SimpleKeyValueLookupService</type>
            </controllerServices>
            <inputPorts>
              <id>b43d6ab4-db5a-32a3-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <position>
                <x>714.8860566962129</x>
                <y>323.5761084392643</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>SequenceInput</name>
              <state>STOPPED</state>
              <type>INPUT_PORT</type>
            </inputPorts>
            <outputPorts>
              <id>83e4adc0-3c9f-304e-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <position>
                <x>911.1018676757812</x>
                <y>1013.9356748814348</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Success</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <outputPorts>
              <id>94136115-94d1-32e5-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <position>
                <x>493.45635986328125</x>
                <y>1015.252919834571</y>
              </position>
              <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
              <name>Failure</name>
              <state>STOPPED</state>
              <type>OUTPUT_PORT</type>
            </outputPorts>
            <processors>
              <id>ff3e77fe-d2cb-35f0-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <position>
                <x>649.7640857050444</x>
                <y>598.70283381677</y>
              </position>
              <bundle>
                <artifact>nifi-invokefilter-nar</artifact>
                <group>gms</group>
                <version>1.0-SNAPSHOT</version>
              </bundle>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>control-url</key>
                    <value>
                      <name>control-url</name>
                    </value>
                  </entry>
                  <entry>
                    <key>output-channel-lookup</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.lookup.StringLookupService</identifiesControllerService>
                      <name>output-channel-lookup</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>control-url</key>
                    <value>http://filter-control:8080/signal-enhancement/waveform-filtering/claimCheck</value>
                  </entry>
                  <entry>
                    <key>output-channel-lookup</key>
                    <value>26bf83fe-99ac-3cc9-0000-000000000000</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>InvokeFilterProcessor</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>gms.processors.invokefilter.InvokeFilterProcessor</type>
            </processors>
            <processors>
              <id>0b64a995-a5af-3dbe-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <position>
                <x>660.8693729889783</x>
                <y>410.52981439128337</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Filtering Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringStart</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>2609b32b-5596-32db-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <position>
                <x>857.4193725585938</x>
                <y>813.8430786132812</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>INFO</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Successfully ran filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringSuccess</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
            <processors>
              <id>2e40ea2d-34fc-3bf3-0000-000000000000</id>
              <parentGroupId>6f20a64b-5f07-3567-0000-000000000000</parentGroupId>
              <position>
                <x>438.45635986328125</x>
                <y>815.3449096679688</y>
              </position>
              <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.4.0</version>
              </bundle>
              <config>
                <bulletinLevel>ERROR</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>log-level</key>
                    <value>
                      <name>log-level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                    <value>
                      <name>log-prefix</name>
                    </value>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>
                      <name>log-message</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>log-level</key>
                    <value>error</value>
                  </entry>
                  <entry>
                    <key>log-prefix</key>
                  </entry>
                  <entry>
                    <key>log-message</key>
                    <value>Failed to run filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogFilteringFailure</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <state>STOPPED</state>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogMessage</type>
            </processors>
          </contents>
          <name>WaveformFilteringProcessingStep</name>
        </processGroups>
        <processors>
          <id>92804a62-f92e-3345-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <position>
            <x>72.66533985707565</x>
            <y>1707.08854427648</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>INFO</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Processing stage successfully executed for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogMessage</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
          <id>e3af86c1-9b25-313f-0000-000000000000</id>
          <parentGroupId>c615bd4e-124d-3b04-0000-000000000000</parentGroupId>
          <position>
            <x>-561.7619607594626</x>
            <y>1011.8589875781279</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>ERROR</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>error</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Error executing processing stage for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogProcessingStageFailure</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
      </contents>
      <name>Processing Sequence Example #3</name>
    </processGroups>
  </snippet>
  <timestamp>05/03/2018 15:12:36 UTC</timestamp>
</template>