processing-sequence-control-PI3-Release/templates/Signal_Detection_Processing_Step.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description>Processing step for running Signal Detection on a Processing Sequence Interval.</description>
  <groupId>7503d012-a9c4-3bfd-a6df-92c9ac972b4a</groupId>
  <name>Signal Detection Processing Step</name>
  <snippet>
    <processGroups>
      <id>79d1ed6f-2988-3bb2-0000-000000000000</id>
      <parentGroupId>ec4c46e8-8589-34a1-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>84d13996-c938-3cdf-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>3e2383af-2f0e-3191-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>c62acada-fc97-3f8d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>85c0abfd-fe45-3597-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>ccb81948-6599-3dda-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>695e370e-76fb-32d3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>b232db51-a49e-3846-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>c62acada-fc97-3f8d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>3bf7cf32-aaf4-3bfb-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>30eecda1-62ff-3ea3-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>695e370e-76fb-32d3-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>failure</selectedRelationships>
          <source>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>c62acada-fc97-3f8d-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7b4caa22-7ba5-3242-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>c3611e6f-d4e5-3c18-0000-000000000000</id>
            <type>OUTPUT_PORT</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>3e2383af-2f0e-3191-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>7e6bb561-d5b5-352e-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>3bf7cf32-aaf4-3bfb-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <source>
            <groupId>79d1ed6f-2988-3bb2-0000-000000000000</groupId>
            <id>7156f0db-1a35-3333-0000-000000000000</id>
            <type>INPUT_PORT</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <inputPorts>
          <id>7156f0db-1a35-3333-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <position>
            <x>714.8860566962129</x>
            <y>323.5761084392643</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>SequenceInput</name>
          <state>STOPPED</state>
          <type>INPUT_PORT</type>
        </inputPorts>
        <outputPorts>
          <id>c3611e6f-d4e5-3c18-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <position>
            <x>911.1018676757812</x>
            <y>1013.9356748814348</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Success</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <outputPorts>
          <id>ccb81948-6599-3dda-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <position>
            <x>493.45635986328125</x>
            <y>1015.252919834571</y>
          </position>
          <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
          <name>Failure</name>
          <state>STOPPED</state>
          <type>OUTPUT_PORT</type>
        </outputPorts>
        <processors>
          <id>c62acada-fc97-3f8d-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <position>
            <x>660.4796270009529</x>
            <y>623.4999999999998</y>
          </position>
          <bundle>
            <artifact>nifi-invokesignaldetector-nar</artifact>
            <group>gms</group>
            <version>0.0.1-SNAPSHOT</version>
          </bundle>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>control-url</key>
                <value>
                  <name>control-url</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>control-url</key>
                <value>http://detector-control:8080/signal-detection/signal-detector-control/claim-check</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>InvokeSignalDetectorProcessor</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>gms.processors.invokesignaldetector.InvokeSignalDetectorProcessor</type>
        </processors>
        <processors>
          <id>3bf7cf32-aaf4-3bfb-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <position>
            <x>660.8693729889783</x>
            <y>410.52981439128337</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>INFO</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Filtering Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogFilteringStart</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
          <id>3e2383af-2f0e-3191-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <position>
            <x>857.4193725585938</x>
            <y>813.8430786132812</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>INFO</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>info</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Successfully ran filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogFilteringSuccess</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
        <processors>
          <id>695e370e-76fb-32d3-0000-000000000000</id>
          <parentGroupId>79d1ed6f-2988-3bb2-0000-000000000000</parentGroupId>
          <position>
            <x>438.45635986328125</x>
            <y>815.3449096679688</y>
          </position>
          <bundle>
            <artifact>nifi-standard-nar</artifact>
            <group>org.apache.nifi</group>
            <version>1.4.0</version>
          </bundle>
          <config>
            <bulletinLevel>ERROR</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>log-level</key>
                <value>
                  <name>log-level</name>
                </value>
              </entry>
              <entry>
                <key>log-prefix</key>
                <value>
                  <name>log-prefix</name>
                </value>
              </entry>
              <entry>
                <key>log-message</key>
                <value>
                  <name>log-message</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>log-level</key>
                <value>error</value>
              </entry>
              <entry>
                <key>log-prefix</key>
              </entry>
              <entry>
                <key>log-message</key>
                <value>Failed to run filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>LogFilteringFailure</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <state>STOPPED</state>
          <style></style>
          <type>org.apache.nifi.processors.standard.LogMessage</type>
        </processors>
      </contents>
      <name>SignalDetectionProcessingStep</name>
    </processGroups>
  </snippet>
  <timestamp>05/03/2018 14:08:05 UTC</timestamp>
</template>