processing-sequence-control-PI3-Release/templates/Waveform_QC_Processing_Step.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Represents the logging and processing that occurs within the Waveform Quality Control Processing Step.</description>
    <groupId>f2cf46a5-e6dd-3b30-10d5-c888eb675f48</groupId>
    <name>Waveform QC Processing Step</name>
    <snippet>
        <processGroups>
            <id>d919879a-2ad9-34ac-0000-000000000000</id>
            <parentGroupId>7905e165-818c-36ba-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>95aecd3e-2327-3b41-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>cd818403-e1cc-3fc6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>424c9657-9c92-3ce7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cd79d876-48b4-339e-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>52afafb1-ca20-3bb6-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>0fa0e6e1-2f86-3fe4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>df07dd43-6ffc-3a35-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>a508d57d-dc1d-3b47-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>e541fbd0-bdc5-3806-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2064c190-602b-3412-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>09a0290d-ff0f-329e-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>cd818403-e1cc-3fc6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3228c050-9298-39ab-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>0fa0e6e1-2f86-3fe4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>424c9657-9c92-3ce7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55a9f3f1-7f0d-3c73-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>424c9657-9c92-3ce7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>d919879a-2ad9-34ac-0000-000000000000</groupId>
                        <id>a508d57d-dc1d-3b47-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <inputPorts>
                    <id>e541fbd0-bdc5-3806-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>714.8860566962129</x>
                        <y>323.5761084392643</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>SequenceInput</name>
                    <state>RUNNING</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>09a0290d-ff0f-329e-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>911.1018676757812</x>
                        <y>1013.9356748814348</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Success</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>52afafb1-ca20-3bb6-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>483.00989776161293</x>
                        <y>1015.252919834571</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Failure</name>
                    <state>RUNNING</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>a508d57d-dc1d-3b47-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>660.8693729889783</x>
                        <y>410.52981439128337</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>INFO</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Qc Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogQcStart</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>cd818403-e1cc-3fc6-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>857.4193725585938</x>
                        <y>813.8430786132812</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>INFO</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Successfully ran qc for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogQcSuccess</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>0fa0e6e1-2f86-3fe4-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>435.45281982421875</x>
                        <y>813.8430786132812</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to run qc for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogQcFailure</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>424c9657-9c92-3ce7-0000-000000000000</id>
                    <parentGroupId>d919879a-2ad9-34ac-0000-000000000000</parentGroupId>
                    <position>
                        <x>652.7676712640136</x>
                        <y>618.2264397324315</y>
                    </position>
                    <bundle>
                        <artifact>nifi-invokeqc-nar</artifact>
                        <group>gms</group>
                        <version>0.0.1-SNAPSHOT</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>control-url</key>
<value>
    <name>control-url</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>control-url</key>
<value>http://waveform-qc-control:8080/waveform-qc/waveform-qc-control/invoke</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>InvokeQcProcessor</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>gms.processors.invokeqc.InvokeQcProcessor</type>
                </processors>
            </contents>
            <name>WaveformQcProcessingStep</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/28/2018 22:21:02 UTC</timestamp>
</template>
