processing-sequence-control-PI3-Release/templates/Waveform_Filtering_Processing_Step.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description>Represents the logging and processing the occurs within the Waveform Filtering Processing Step.</description>
    <groupId>0998b7a2-4b51-3faf-f805-910839b7d7d1</groupId>
    <name>Waveform Filtering Processing Step</name>
    <snippet>
        <processGroups>
            <id>9cb8bc8c-e294-358a-0000-000000000000</id>
            <parentGroupId>f2cf46a5-e6dd-3b30-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>ad263bb3-ff43-348f-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>f1e81a8e-6709-35e7-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>96058331-faa7-3e51-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>303fc74d-36a2-36dd-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>59b7891f-0517-3ff4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <source>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>17799878-bb6e-3f58-0000-000000000000</id>
                        <type>INPUT_PORT</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>52a12fad-4a72-3349-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>be891596-aa60-3a1b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>7cbb4869-12dc-30af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5ca3cac0-4265-38d1-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>96058331-faa7-3e51-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>edc51dc1-aa0f-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6999af02-829c-390f-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>edc51dc1-aa0f-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>59b7891f-0517-3ff4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7389589a-eda2-3919-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>7cbb4869-12dc-30af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>9cb8bc8c-e294-358a-0000-000000000000</groupId>
                        <id>edc51dc1-aa0f-33af-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>5173e3db-8b1f-390a-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-lookup-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</key>
                            <value>
<name>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>OutputChannelLookupService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>7b23a6fb-d001-4354-9bb5-7fcb49a530b8</key>
                            <value>8b23a6fb-d001-4354-9bb5-7fcb49a530b8</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.lookup.SimpleKeyValueLookupService</type>
                </controllerServices>
                <inputPorts>
                    <id>17799878-bb6e-3f58-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <position>
                        <x>714.8860566962129</x>
                        <y>323.5761084392643</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>SequenceInput</name>
                    <state>STOPPED</state>
                    <type>INPUT_PORT</type>
                </inputPorts>
                <outputPorts>
                    <id>be891596-aa60-3a1b-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <position>
                        <x>911.1018676757812</x>
                        <y>1013.9356748814348</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Success</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>f1e81a8e-6709-35e7-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <position>
                        <x>493.45635986328125</x>
                        <y>1015.252919834571</y>
                    </position>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>Failure</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>96058331-faa7-3e51-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <position>
                        <x>438.45635986328125</x>
                        <y>815.3449096679688</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>ERROR</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Failed to run filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogFilteringFailure</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>edc51dc1-aa0f-33af-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <position>
                        <x>649.7640857050444</x>
                        <y>598.70283381677</y>
                    </position>
                    <bundle>
                        <artifact>nifi-invokefilter-nar</artifact>
                        <group>gms</group>
                        <version>1.0-SNAPSHOT</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>control-url</key>
<value>
    <name>control-url</name>
</value>
                            </entry>
                            <entry>
<key>output-channel-lookup</key>
<value>
    <identifiesControllerService>org.apache.nifi.lookup.StringLookupService</identifiesControllerService>
    <name>output-channel-lookup</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>control-url</key>
<value>http://filter-control:8080/signal-enhancement/waveform-filtering/claimCheck</value>
                            </entry>
                            <entry>
<key>output-channel-lookup</key>
<value>5173e3db-8b1f-390a-0000-000000000000</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>InvokeFilterProcessor</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>gms.processors.invokefilter.InvokeFilterProcessor</type>
                </processors>
                <processors>
                    <id>59b7891f-0517-3ff4-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <position>
                        <x>660.8693729889783</x>
                        <y>410.52981439128337</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>INFO</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Filtering Processing Step started for interval ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogFilteringStart</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>7cbb4869-12dc-30af-0000-000000000000</id>
                    <parentGroupId>9cb8bc8c-e294-358a-0000-000000000000</parentGroupId>
                    <position>
                        <x>857.4193725585938</x>
                        <y>813.8430786132812</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.5.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>INFO</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Successfully ran filtering for sequence ${uuid}[${channel-ids}](${start-time}, ${end-time})</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <name>LogFilteringSuccess</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
            </contents>
            <name>WaveformFilteringProcessingStep</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/22/2018 00:16:39 UTC</timestamp>
</template>
